openapi: 3.0.3
info:
  title: Time2Gather API
  description: |
    Time2Gather 일정 조율 서비스 API 문서
    
    ## 주요 기능
    - OAuth 2.0 로그인 (카카오)
    - Meeting 스코프 기반 익명 로그인
    - 모임 생성 및 조회
    - 사용자 시간 선택 관리
    
    ## 인증 방식
    - JWT 토큰을 HttpOnly 쿠키로 발급
    - 쿠키명: `accessToken`
    - 만료시간: 1시간
  version: 1.0.0
  contact:
    name: Time2Gather Team

servers:
  - url: https://api.time2gather.org
    description: Production server
  - url: http://localhost:8080
    description: Local development server

tags:
  - name: 인증 API
    description: OAuth2/OIDC 로그인 관련 API
  - name: 모임 인증 API
    description: Meeting 스코프 기반 익명 로그인 API
  - name: Meeting
    description: 모임 관련 API

paths:
  /api/v1/auth/oauth/{provider}:
    post:
      tags:
        - 인증 API
      summary: OAuth 로그인
      description: |
        카카오/구글 등의 OAuth Provider를 통한 로그인. Authorization Code를 받아 JWT 토큰을 발급합니다.
        
        ## 흐름
        1. 프론트엔드에서 OAuth Provider의 Authorization Code 획득
        2. 이 API로 Authorization Code 전송
        3. 백엔드에서 Provider와 통신하여 사용자 정보 획득
        4. JWT 토큰 생성 및 HttpOnly 쿠키로 설정
        5. 사용자 정보 응답
      operationId: oauthLogin
      parameters:
        - name: provider
          in: path
          required: true
          description: OAuth Provider (kakao, google 등)
          schema:
            type: string
            enum: [kakao, google]
            example: kakao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: JWT 토큰이 담긴 HttpOnly 쿠키
              schema:
                type: string
                example: accessToken=eyJhbGc...; Path=/; HttpOnly; Secure; Max-Age=3600
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OAuthLoginResponse'
        '400':
          description: 유효하지 않거나 만료된 Authorization Code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: OAuth Provider 통신 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/meetings/{meetingCode}/auth/anonymous:
    post:
      tags:
        - 모임 인증 API
      summary: 익명 로그인
      description: |
        Meeting 스코프 기반 익명 로그인. 같은 모임 내에서만 username이 유니크하며, 다른 모임에서는 같은 이름 사용 가능.
        
        ## 특징
        - Meeting별로 username이 격리됨
        - 첫 로그인 시 자동으로 계정 생성 (신규 사용자)
        - 기존 사용자는 비밀번호 검증 필요
        - JWT 토큰을 HttpOnly 쿠키로 발급
      operationId: anonymousLogin
      parameters:
        - name: meetingCode
          in: path
          required: true
          description: Meeting 코드
          schema:
            type: string
            example: mtg_abc123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnonymousLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: JWT 토큰이 담긴 HttpOnly 쿠키
              schema:
                type: string
                example: accessToken=eyJhbGc...; Path=/; HttpOnly; Secure; Max-Age=3600
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AnonymousLoginResponse'
        '400':
          description: 필수 필드 누락 (username 또는 password)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 비밀번호 불일치 (기존 사용자)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/meetings:
    post:
      tags:
        - Meeting
      summary: 모임 생성
      description: |
        새로운 모임을 생성합니다.
        
        ## 요구사항
        - 인증 필요 (OAuth 또는 익명 로그인)
        - 생성자는 자동으로 방장이 됨
      operationId: createMeeting
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingRequest'
      responses:
        '200':
          description: 모임 생성 성공
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateMeetingResponse'
        '400':
          description: 잘못된 요청 (필수 필드 누락 등)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/meetings/{meetingCode}:
    get:
      tags:
        - Meeting
      summary: 모임 상세 조회
      description: |
        모임 상세 정보를 조회합니다.
        
        ## 특징
        - 인증 불필요 (누구나 조회 가능)
        - 모임 기본 정보, 참여자 목록, 시간별 가능 인원, 베스트 시간대 등 포함
      operationId: getMeetingDetail
      parameters:
        - name: meetingCode
          in: path
          required: true
          description: Meeting 코드
          schema:
            type: string
            example: mtg_a3f8k2md9x
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MeetingDetailResponse'
        '404':
          description: 존재하지 않는 모임
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/meetings/{meetingCode}/selections:
    get:
      tags:
        - Meeting
      summary: 내 선택 조회
      description: 현재 사용자의 시간 선택을 조회합니다.
      operationId: getUserSelections
      security:
        - cookieAuth: []
      parameters:
        - name: meetingCode
          in: path
          required: true
          description: Meeting 코드
          schema:
            type: string
            example: mtg_a3f8k2md9x
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSelectionResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 존재하지 않는 모임
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

    put:
      tags:
        - Meeting
      summary: 시간 선택/수정
      description: |
        사용자의 시간 선택을 등록하거나 수정합니다.
        
        ## 특징
        - 기존 선택이 있으면 덮어쓰기 (Upsert)
        - 날짜별로 빈 배열 전송 시 해당 날짜의 선택 삭제
      operationId: upsertUserSelections
      security:
        - cookieAuth: []
      parameters:
        - name: meetingCode
          in: path
          required: true
          description: Meeting 코드
          schema:
            type: string
            example: mtg_a3f8k2md9x
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertUserSelectionRequest'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: 존재하지 않는 모임
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: accessToken
      description: JWT 토큰 (HttpOnly 쿠키)

  schemas:
    ApiResponse:
      type: object
      description: 공통 API 응답
      required:
        - success
      properties:
        success:
          type: boolean
          description: 성공 여부
          example: true
        data:
          type: object
          description: 응답 데이터
          nullable: true
        message:
          type: string
          description: 에러 메시지 (실패 시)
          nullable: true
          example: null

    ApiErrorResponse:
      type: object
      description: 에러 응답
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          description: 성공 여부
          example: false
        data:
          type: object
          nullable: true
          example: null
        message:
          type: string
          description: 에러 메시지
          example: Invalid authorization code

    OAuthLoginRequest:
      type: object
      description: OAuth 로그인 요청
      required:
        - authorizationCode
      properties:
        authorizationCode:
          type: string
          description: OAuth Authorization Code
          example: 0jVtEEMB9eJtGR-SUnkEbCazKEGk3XFZAAAAAQoXIS0AAAGahuf3ZLfuZLkpz6yP
        redirectUrl:
          type: string
          description: Redirect URL (선택). 미입력시 기본 설정값 사용
          example: http://localhost:3000/auth/callback
          nullable: true

    OAuthLoginResponse:
      type: object
      description: OAuth 로그인 응답
      required:
        - userId
        - username
        - provider
        - isNewUser
      properties:
        userId:
          type: integer
          format: int64
          description: 사용자 ID
          example: 1
        username:
          type: string
          description: 사용자 이름
          example: kakao_1234567890
        email:
          type: string
          description: 이메일
          nullable: true
          example: user@kakao.com
        profileImageUrl:
          type: string
          description: 프로필 이미지 URL
          nullable: true
          example: https://example.com/profile.jpg
        provider:
          type: string
          description: OAuth Provider
          example: kakao
        isNewUser:
          type: boolean
          description: 신규 사용자 여부
          example: true

    AnonymousLoginRequest:
      type: object
      description: 익명 로그인 요청
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: 사용자 이름 (Meeting 스코프 내에서 유니크)
          example: 철수
        password:
          type: string
          description: 비밀번호
          example: "1234"

    AnonymousLoginResponse:
      type: object
      description: 익명 로그인 응답
      required:
        - userId
        - username
        - isNewUser
      properties:
        userId:
          type: integer
          format: int64
          description: 사용자 ID
          example: 1
        username:
          type: string
          description: 사용자 표시 이름 (Meeting 스코프 제거)
          example: 철수
        isNewUser:
          type: boolean
          description: 신규 사용자 여부
          example: true

    CreateMeetingRequest:
      type: object
      description: 모임 생성 요청
      required:
        - title
        - availableDates
      properties:
        title:
          type: string
          description: 모임 제목
          example: 프로젝트 킥오프 미팅
        description:
          type: string
          description: 모임 설명
          nullable: true
          example: 2월 신규 프로젝트 시작 회의
        timezone:
          type: string
          description: 타임존
          default: Asia/Seoul
          example: Asia/Seoul
        availableDates:
          type: object
          description: 날짜별 가능한 시간대 (HH:mm 형식)
          additionalProperties:
            type: array
            items:
              type: string
              pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example:
            "2024-02-15": ["09:00", "09:30", "10:00", "10:30"]
            "2024-02-16": ["11:00", "11:30", "12:00"]

    CreateMeetingResponse:
      type: object
      description: 모임 생성 응답
      required:
        - meetingId
        - meetingCode
        - shareUrl
      properties:
        meetingId:
          type: integer
          format: int64
          description: 모임 ID
          example: 1
        meetingCode:
          type: string
          description: 모임 코드
          example: mtg_a3f8k2md9x
        shareUrl:
          type: string
          description: 공유 URL
          example: https://time2gather.org/mtg_a3f8k2md9x

    MeetingDetailResponse:
      type: object
      description: 모임 상세 응답
      required:
        - meeting
        - participants
        - schedule
        - summary
      properties:
        meeting:
          $ref: '#/components/schemas/MeetingInfo'
        participants:
          type: array
          description: 참여자 목록
          items:
            $ref: '#/components/schemas/ParticipantInfo'
        schedule:
          type: object
          description: 날짜/시간별 참여 가능한 사용자 목록
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/components/schemas/ParticipantInfo'
          example:
            "2024-02-15":
              "09:00":
                - userId: 1
                  username: jinwoo
                  profileImageUrl: https://...
                - userId: 2
                  username: 철수
                  profileImageUrl: null
              "09:30":
                - userId: 1
                  username: jinwoo
                  profileImageUrl: https://...
        summary:
          $ref: '#/components/schemas/SummaryInfo'

    MeetingInfo:
      type: object
      description: 모임 기본 정보
      required:
        - id
        - code
        - title
        - host
        - timezone
        - availableDates
      properties:
        id:
          type: integer
          format: int64
          description: 모임 ID
          example: 1
        code:
          type: string
          description: 모임 코드
          example: mtg_a3f8k2md9x
        title:
          type: string
          description: 모임 제목
          example: 프로젝트 킥오프 미팅
        description:
          type: string
          description: 모임 설명
          nullable: true
          example: 2월 신규 프로젝트 시작 회의
        host:
          $ref: '#/components/schemas/HostInfo'
        timezone:
          type: string
          description: 타임존
          example: Asia/Seoul
        availableDates:
          type: object
          description: 가능한 날짜/시간대
          additionalProperties:
            type: array
            items:
              type: string
          example:
            "2024-02-15": ["09:00", "09:30", "10:00"]
            "2024-02-16": ["11:00", "11:30"]

    HostInfo:
      type: object
      description: 방장 정보
      required:
        - id
        - username
      properties:
        id:
          type: integer
          format: int64
          description: 사용자 ID
          example: 1
        username:
          type: string
          description: 사용자명
          example: jinwoo
        profileImageUrl:
          type: string
          description: 프로필 이미지 URL
          nullable: true
          example: https://...

    ParticipantInfo:
      type: object
      description: 참여자 정보
      required:
        - userId
        - username
      properties:
        userId:
          type: integer
          format: int64
          description: 사용자 ID
          example: 1
        username:
          type: string
          description: 사용자명
          example: jinwoo
        profileImageUrl:
          type: string
          description: 프로필 이미지 URL
          nullable: true
          example: https://...

    SummaryInfo:
      type: object
      description: 요약 정보
      required:
        - totalParticipants
        - bestSlots
      properties:
        totalParticipants:
          type: integer
          description: 총 참여자 수
          example: 5
        bestSlots:
          type: array
          description: 베스트 시간대 (가장 많은 사람이 가능한 시간대)
          items:
            $ref: '#/components/schemas/BestSlot'

    BestSlot:
      type: object
      description: 베스트 시간대
      required:
        - date
        - time
        - count
        - percentage
      properties:
        date:
          type: string
          description: 날짜
          example: "2024-02-15"
        time:
          type: string
          description: 시간
          example: "09:00"
        count:
          type: integer
          description: 가능한 인원 수
          example: 4
        percentage:
          type: number
          format: double
          description: 가능 비율 (%)
          example: 80.0

    UserSelectionResponse:
      type: object
      description: 사용자 선택 조회 응답
      required:
        - selections
      properties:
        selections:
          type: object
          description: 날짜별 선택한 시간대 (HH:mm 형식)
          additionalProperties:
            type: array
            items:
              type: string
          example:
            "2024-02-15": ["09:00", "09:30", "10:30"]
            "2024-02-16": ["11:00", "11:30"]

    UpsertUserSelectionRequest:
      type: object
      description: 사용자 시간 선택 요청
      required:
        - selections
      properties:
        selections:
          type: object
          description: 날짜별 선택한 시간대 (HH:mm 형식)
          additionalProperties:
            type: array
            items:
              type: string
          example:
            "2024-02-15": ["09:00", "09:30", "10:30"]
            "2024-02-16": ["11:00", "11:30"]
            "2024-02-17": []

